node_modules
.pnpm-store/
/dist
/build
/out
.tmp
.temp
coverage
.nyc_output
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*
.env
.env.*
!.env.example
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
.git
.gitignore
.github/
!drizzle/
docker/
biome.jsonc